body {
  font-family: Arial;
  text-align: center;
  background: #f5f7fb;
}

h1, h2 {
  color: #0A377A;
}

.container {
  margin-top: 50px;
}

button {
  padding: 12px 20px;
  margin: 10px;
  font-size: 16px;
  border: none;
  background: #0A377A;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #06285c;
}

.inactive {
  fill: lightgray;
}

.selected {
  fill: #1f77b4; /* blue */
}

.active {
  fill: green;
}
